openapi: 3.0.1
info:
  title: Metronome Alerts Contracts API
  version: 1.0.0
  description: '[Alerts](https://docs.metronome.com/connecting-metronome/alerts/) monitor customer spending, balances, and other billing factors. Use these endpoints to create, retrieve, and archive customer alerts. To view sample alert payloads by alert type, navigate [here.](https://docs.metronome.com/manage-product-access/create-manage-alerts/#webhook-notifications)'
servers:
- url: https://api.metronome.com
  description: Production server
security:
- bearerAuth: []
tags:
- name: Contracts
  description: A contract defines a customer’s products, pricing, discounts, commitments, and more. Use these endpoints to create and update contracts data.
paths:
  /v1/contracts/get:
    post:
      description: 'This is the v1 endpoint to get a contract. New clients should implement using the v2 endpoint.

        '
      operationId: getContract-v1
      summary: Get a contract (v1)
      tags:
      - Contracts
      requestBody:
        description: Contract and customer IDs
        content:
          application/json:
            schema:
              type: object
              required:
              - customer_id
              - contract_id
              properties:
                customer_id:
                  type: string
                  format: uuid
                contract_id:
                  type: string
                  format: uuid
                include_ledgers:
                  type: boolean
                  description: Include commit ledgers in the response. Setting this flag may cause the query to be slower.
                include_balance:
                  type: boolean
                  description: Include the balance of credits and commits in the response. Setting this flag may cause the query to be slower.
            example:
              customer_id: 13117714-3f05-48e5-a6e9-a66093f13b4d
              contract_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Contract'
              example:
                data:
                  id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
                  customer_id: e3fd63fd-fc9f-4153-a543-1fc2261a0e1c
                  initial:
                    name: My contract
                    rate_card_id: 92f3080d-27ca-4306-a23f-2430de61851e
                    starting_at: '2020-01-01T00:00:00.000Z'
                    net_payment_terms_days: 7
                    ending_before: '2022-01-01T00:00:00.000Z'
                    commits:
                    - id: 62c0cb84-bf3f-48b9-9bcf-a8ddf8c1cf35
                      type: PREPAID
                      name: My test commit
                      description: My test commit description
                      product:
                        id: 2e30f074-d04c-412e-a134-851ebfa5ceb2
                        name: My product A
                      rollover_fraction: 0.1
                      applicable_product_ids:
                      - 13a2179b-f0cb-460b-85a1-cd42964ca533
                      access_schedule:
                        credit_type:
                          id: 2714e483-4ff1-48e4-9e25-ac732e8f24f2
                          name: USD (cents)
                        schedule_items:
                        - id: 2d45952c-5a6e-43a9-8aab-f61ee21be81a
                          amount: 10000000
                          starting_at: '2020-02-01T00:00:00.000Z'
                          ending_before: '2021-02-01T00:00:00.000Z'
                      invoice_schedule:
                        credit_type:
                          id: 2714e483-4ff1-48e4-9e25-ac732e8f24f2
                          name: USD (cents)
                        schedule_items:
                        - id: f15e4e23-f74e-4de4-9b3a-8b07434116c4
                          invoice_id: 525b9759-7bbd-4a05-aab1-d7c43c976b57
                          amount: 10000000
                          unit_price: 10000000
                          quantity: 1
                          timestamp: '2020-03-01T00:00:00.000Z'
                        do_not_invoice: false
                      ledger:
                      - invoice_id: 525b9759-7bbd-4a05-aab1-d7c43c976b57
                        amount: 10000000
                        timestamp: '2020-03-01T00:00:00.000Z'
                        type: PREPAID_COMMIT_AUTOMATED_INVOICE_DEDUCTION
                        segment_id: 2d45952c-5a6e-43a9-8aab-f61ee21be81a
                      created_at: '2020-01-01T00:00:00.000Z'
                    overrides:
                    - id: 6cf3292a-e85c-4be6-822c-e25ba9d19757
                      created_at: '2020-01-01T00:00:00.000Z'
                      product:
                        id: eae8903b-693b-41a7-8c0b-f23748c9a9c8
                        name: My product B
                      starting_at: '2020-01-01T00:00:00.000Z'
                      type: MULTIPLIER
                      multiplier: 0.1
                    scheduled_charges: []
                    scheduled_charges_on_usage_invoices: ALL
                    transitions:
                    - type: RENEWAL
                      from_contract_id: 9bf48856-b430-42f4-844f-4d2ea85bcff8
                      to_contract_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
                    reseller_royalties: []
                    usage_statement_schedule:
                      frequency: MONTHLY
                      billing_anchor_date: '2020-01-01T00:00:00.000Z'
                    created_at: '2019-12-31T14:23:55.234Z'
                    created_by: Alice
                  current:
                    rate_card_id: 92f3080d-27ca-4306-a23f-2430de61851e
                    starting_at: '2020-01-01T00:00:00.000Z'
                    net_payment_terms_days: 7
                    ending_before: '2022-01-01T00:00:00.000Z'
                    commits:
                    - id: 62c0cb84-bf3f-48b9-9bcf-a8ddf8c1cf35
                      type: PREPAID
                      name: My test commit
                      description: My test commit description
                      product:
                        id: 2e30f074-d04c-412e-a134-851ebfa5ceb2
                        name: My product A
                      rollover_fraction: 0.1
                      applicable_product_ids:
                      - 13a2179b-f0cb-460b-85a1-cd42964ca533
                      access_schedule:
                        credit_type:
                          id: 2714e483-4ff1-48e4-9e25-ac732e8f24f2
                          name: USD (cents)
                        schedule_items:
                        - id: 2d45952c-5a6e-43a9-8aab-f61ee21be81a
                          amount: 10000000
                          starting_at: '2020-02-01T00:00:00.000Z'
                          ending_before: '2021-02-01T00:00:00.000Z'
                      invoice_schedule:
                        credit_type:
                          id: 2714e483-4ff1-48e4-9e25-ac732e8f24f2
                          name: USD (cents)
                        schedule_items:
                        - id: f15e4e23-f74e-4de4-9b3a-8b07434116c4
                          invoice_id: 525b9759-7bbd-4a05-aab1-d7c43c976b57
                          amount: 10000000
                          unit_price: 10000000
                          quantity: 1
                          timestamp: '2020-03-01T00:00:00.000Z'
                        do_not_invoice: false
                      created_at: '2020-01-01T00:00:00.000Z'
                    overrides:
                    - id: 6cf3292a-e85c-4be6-822c-e25ba9d19757
                      created_at: '2020-01-01T00:00:00.000Z'
                      product:
                        id: eae8903b-693b-41a7-8c0b-f23748c9a9c8
                        name: My product B
                      starting_at: '2020-01-01T00:00:00.000Z'
                      type: MULTIPLIER
                      multiplier: 0.1
                    scheduled_charges:
                    - id: 8e511ff1-3fd5-4d86-bc89-1e80239874bf
                      name: My test scheduled charge
                      product:
                        id: 2e30f074-d04c-412e-a134-851ebfa5ceb2
                        name: My product A
                      schedule:
                        schedule_items:
                        - id: 6ca40ebc-9c01-484e-a64e-4e47fbbd0ebe
                          invoice_id: 5cced82b-5464-41b4-9ea7-3e080e0a4dba
                          amount: 1000000
                          unit_price: 1000000
                          quantity: 1
                          timestamp: '2020-02-15T00:00:00.000Z'
                    scheduled_charges_on_usage_invoices: ALL
                    transitions:
                    - type: RENEWAL
                      from_contract_id: 9bf48856-b430-42f4-844f-4d2ea85bcff8
                      to_contract_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
                    reseller_royalties: []
                    usage_statement_schedule:
                      frequency: MONTHLY
                      billing_anchor_date: '2020-01-01T00:00:00.000Z'
                    created_at: '2019-12-31T14:23:55.234Z'
                    created_by: Alice
                  amendments:
                  - id: 4e2fab26-31ea-473c-b07d-1ce10e7c0146
                    starting_at: '2020-04-01T00:00:00.000Z'
                    scheduled_charges:
                    - id: 8e511ff1-3fd5-4d86-bc89-1e80239874bf
                      name: My test scheduled charge
                      product:
                        id: 2e30f074-d04c-412e-a134-851ebfa5ceb2
                        name: My product A
                      schedule:
                        schedule_items:
                        - id: 6ca40ebc-9c01-484e-a64e-4e47fbbd0ebe
                          invoice_id: 5cced82b-5464-41b4-9ea7-3e080e0a4dba
                          amount: 1000000
                          unit_price: 1000000
                          quantity: 1
                          timestamp: '2020-02-15T00:00:00.000Z'
                    commits: []
                    overrides: []
                    created_at: '2019-12-31T16:12:45.123Z'
                    created_by: Bob
                  custom_fields:
                    x_account_id: KyVnHhSBWl7eY2bl
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/contracts/list:
    post:
      description: "Retrieves all contracts for a specific customer, including pricing, terms, credits, and commitments. Use this to view a customer's contract history and current agreements for billing management. Returns contract details with optional ledgers and balance information. \n\n⚠️ Note: This is the legacy v1 endpoint - new integrations should use the v2 endpoint for enhanced features.\n"
      operationId: listContracts-v1
      summary: List customer contracts (v1)
      tags:
      - Contracts
      requestBody:
        description: List all contracts for a customer
        content:
          application/json:
            schema:
              type: object
              required:
              - customer_id
              properties:
                customer_id:
                  type: string
                  format: uuid
                include_ledgers:
                  type: boolean
                  description: Include commit ledgers in the response. Setting this flag may cause the query to be slower.
                include_balance:
                  type: boolean
                  description: Include the balance of credits and commits in the response. Setting this flag may cause the query to be slower.
                include_archived:
                  type: boolean
                  description: Include archived contracts in the response
                starting_at:
                  description: Optional RFC 3339 timestamp. If provided, the response will include only contracts where effective_at is on or after the provided date.  This cannot be provided if the covering_date filter is provided.
                  type: string
                  format: date-time
                covering_date:
                  type: string
                  format: date-time
                  description: Optional RFC 3339 timestamp. If provided, the response will include only contracts effective on the provided date.  This cannot be provided if the starting_at filter is provided.
            example:
              customer_id: 9b85c1c1-5238-4f2a-a409-61412905e1e1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contract'
              example:
                data:
                - id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
                  customer_id: e3fd63fd-fc9f-4153-a543-1fc2261a0e1c
                  initial:
                    name: My contract
                    rate_card_id: 92f3080d-27ca-4306-a23f-2430de61851e
                    starting_at: '2020-01-01T00:00:00.000Z'
                    net_payment_terms_days: 7
                    ending_before: '2022-01-01T00:00:00.000Z'
                    commits:
                    - id: 62c0cb84-bf3f-48b9-9bcf-a8ddf8c1cf35
                      type: PREPAID
                      name: My test commit
                      description: My test commit description
                      product:
                        id: 2e30f074-d04c-412e-a134-851ebfa5ceb2
                        name: My product A
                      rollover_fraction: 0.1
                      applicable_product_ids:
                      - 13a2179b-f0cb-460b-85a1-cd42964ca533
                      access_schedule:
                        credit_type:
                          id: 2714e483-4ff1-48e4-9e25-ac732e8f24f2
                          name: USD (cents)
                        schedule_items:
                        - id: 2d45952c-5a6e-43a9-8aab-f61ee21be81a
                          amount: 10000000
                          starting_at: '2020-02-01T00:00:00.000Z'
                          ending_before: '2021-02-01T00:00:00.000Z'
                      invoice_schedule:
                        credit_type:
                          id: 2714e483-4ff1-48e4-9e25-ac732e8f24f2
                          name: USD (cents)
                        schedule_items:
                        - id: f15e4e23-f74e-4de4-9b3a-8b07434116c4
                          invoice_id: 525b9759-7bbd-4a05-aab1-d7c43c976b57
                          amount: 10000000
                          unit_price: 10000000
                          quantity: 1
                          timestamp: '2020-03-01T00:00:00.000Z'
                        do_not_invoice: false
                      ledger:
                      - invoice_id: 525b9759-7bbd-4a05-aab1-d7c43c976b57
                        amount: 10000000
                        timestamp: '2020-03-01T00:00:00.000Z'
                        type: PREPAID_COMMIT_AUTOMATED_INVOICE_DEDUCTION
                        segment_id: 2d45952c-5a6e-43a9-8aab-f61ee21be81a
                      created_at: '2020-01-01T00:00:00.000Z'
                    overrides:
                    - id: 6cf3292a-e85c-4be6-822c-e25ba9d19757
                      created_at: '2020-01-01T00:00:00.000Z'
                      product:
                        id: eae8903b-693b-41a7-8c0b-f23748c9a9c8
                        name: My product B
                      starting_at: '2020-01-01T00:00:00.000Z'
                      type: MULTIPLIER
                      multiplier: 0.1
                    scheduled_charges: []
                    scheduled_charges_on_usage_invoices: ALL
                    transitions:
                    - type: RENEWAL
                      from_contract_id: 9bf48856-b430-42f4-844f-4d2ea85bcff8
                      to_contract_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
                    reseller_royalties: []
                    usage_statement_schedule:
                      frequency: MONTHLY
                      billing_anchor_date: '2020-01-01T00:00:00.000Z'
                    created_at: '2019-12-31T14:23:55.234Z'
                    created_by: Alice
                  current:
                    rate_card_id: 92f3080d-27ca-4306-a23f-2430de61851e
                    starting_at: '2020-01-01T00:00:00.000Z'
                    net_payment_terms_days: 7
                    ending_before: '2022-01-01T00:00:00.000Z'
                    commits:
                    - id: 62c0cb84-bf3f-48b9-9bcf-a8ddf8c1cf35
                      type: PREPAID
                      name: My test commit
                      description: My test commit description
                      product:
                        id: 2e30f074-d04c-412e-a134-851ebfa5ceb2
                        name: My product A
                      rollover_fraction: 0.1
                      applicable_product_ids:
                      - 13a2179b-f0cb-460b-85a1-cd42964ca533
                      access_schedule:
                        credit_type:
                          id: 2714e483-4ff1-48e4-9e25-ac732e8f24f2
                          name: USD (cents)
                        schedule_items:
                        - id: 2d45952c-5a6e-43a9-8aab-f61ee21be81a
                          amount: 10000000
                          starting_at: '2020-02-01T00:00:00.000Z'
                          ending_before: '2021-02-01T00:00:00.000Z'
                      invoice_schedule:
                        credit_type:
                          id: 2714e483-4ff1-48e4-9e25-ac732e8f24f2
                          name: USD (cents)
                        schedule_items:
                        - id: f15e4e23-f74e-4de4-9b3a-8b07434116c4
                          invoice_id: 525b9759-7bbd-4a05-aab1-d7c43c976b57
                          amount: 10000000
                          unit_price: 10000000
                          quantity: 1
                          timestamp: '2020-03-01T00:00:00.000Z'
                        do_not_invoice: false
                      created_at: '2020-01-01T00:00:00.000Z'
                    overrides:
                    - id: 6cf3292a-e85c-4be6-822c-e25ba9d19757
                      created_at: '2020-01-01T00:00:00.000Z'
                      product:
                        id: eae8903b-693b-41a7-8c0b-f23748c9a9c8
                        name: My product B
                      starting_at: '2020-01-01T00:00:00.000Z'
                      type: MULTIPLIER
                      multiplier: 0.1
                    scheduled_charges:
                    - id: 8e511ff1-3fd5-4d86-bc89-1e80239874bf
                      name: My test scheduled charge
                      product:
                        id: 2e30f074-d04c-412e-a134-851ebfa5ceb2
                        name: My product A
                      schedule:
                        schedule_items:
                        - id: 6ca40ebc-9c01-484e-a64e-4e47fbbd0ebe
                          invoice_id: 5cced82b-5464-41b4-9ea7-3e080e0a4dba
                          amount: 1000000
                          unit_price: 1000000
                          quantity: 1
                          timestamp: '2020-02-15T00:00:00.000Z'
                    scheduled_charges_on_usage_invoices: ALL
                    transitions:
                    - type: RENEWAL
                      from_contract_id: 9bf48856-b430-42f4-844f-4d2ea85bcff8
                      to_contract_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
                    reseller_royalties: []
                    usage_statement_schedule:
                      frequency: MONTHLY
                      billing_anchor_date: '2020-01-01T00:00:00.000Z'
                    created_at: '2019-12-31T14:23:55.234Z'
                    created_by: Alice
                  amendments:
                  - id: 4e2fab26-31ea-473c-b07d-1ce10e7c0146
                    starting_at: '2020-04-01T00:00:00.000Z'
                    scheduled_charges:
                    - id: 8e511ff1-3fd5-4d86-bc89-1e80239874bf
                      name: My test scheduled charge
                      product:
                        id: 2e30f074-d04c-412e-a134-851ebfa5ceb2
                        name: My product A
                      schedule:
                        schedule_items:
                        - id: 6ca40ebc-9c01-484e-a64e-4e47fbbd0ebe
                          invoice_id: 5cced82b-5464-41b4-9ea7-3e080e0a4dba
                          amount: 1000000
                          unit_price: 1000000
                          quantity: 1
                          timestamp: '2020-02-15T00:00:00.000Z'
                    commits: []
                    overrides: []
                    created_at: '2019-12-31T16:12:45.123Z'
                    created_by: Bob
                  custom_fields:
                    x_account_id: KyVnHhSBWl7eY2bl
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/contracts/create:
    post:
      description: 'Contracts define a customer''s products, pricing, discounts, access duration, and billing configuration. Contracts serve as the central billing agreement for both PLG and Enterprise customers, you can automatically customers access to your products and services directly from your product or CRM.


        ### Use this endpoint to:

        - PLG onboarding: Automatically provision new self-serve customers with contracts when they sign up.

        - Enterprise sales: Push negotiated contracts from Salesforce with custom pricing and commitments

        - Promotional pricing: Implement time-limited discounts and free trials through overrides


        ### Key components:

        #### Contract Term and Billing Schedule

        - Set contract duration using `starting_at` and `ending_before` fields. PLG contracts typically use perpetual agreements (no end date), while Enterprise contracts have fixed end dates which can be edited over time in the case of co-term upsells.


        #### Rate Card

        If you are offering usage based pricing, you can set a rate card for the contract to reference through `rate_card_id` or `rate_card_alias`. The rate card is a store of all of your usage based products and their centralized pricing. Any new products or price changes on the rate card can be set to automatically propagate to all associated contracts - this ensures consistent pricing and product launches flow to contracts without manual updates and migrations. The `usage_statement_schedule` determines the cadence on which Metronome will finalize a usage invoice for the customer. This defaults to monthly on the 1st, with options for custom dates, quarterly, or annual cadences. Note: Most usage based billing companies align usage statements to be evaluated aligned to the first of the month.

        Read more about [Rate Cards](https://docs.metronome.com/pricing-packaging/create-manage-rate-cards/).


        #### Overrides and discounts

        Customize pricing on the contract through time-bounded overrides that can target specific products, product families, or complex usage scenarios. Overrides enable two key capabilities:

        - Discounts: Apply percentage discounts, fixed rate reductions, or quantity-based pricing tiers

        - Entitlements: Provide special pricing or access to specific products for negotiated deals


        Read more about [Contract Overrides](https://docs.metronome.com/manage-product-access/add-contract-override/).


        #### Commits and Credits

        Using commits, configure prepaid or postpaid spending commitments where customers promise to spend a certain amount over the contract period paid in advance or in arrears. Use credits to provide free spending allowances. Under the hood these are the same mechanisms, however, credits are typically offered for free (SLA or promotional) or as a part of an allotment associated with a Subscription.


        In Metronome, you can set commits and credits to only be applicable for a subset of usage. Use `applicable_product_ids` or `applicable_product_tags` to create product or product-family specific commits or credits, or you can build complex boolean logic specifiers to target usage based on pricing  and presentation group values using `override_specifiers`.


        These objects can also also be configured to have a recurrence schedule to easily model customer packaging which includes recurring monthly or quarterly allotments.


        Commits support rollover settings (`rollover_fraction`) to transfer unused balances between contract periods, either entirely or as a percentage.


        Read more about [Credits and Commits](https://docs.metronome.com/pricing-packaging/apply-credits-commits/).


        #### Subscriptions

        You can add a fixed recurring charge to a contract, like monthly licenses or seat-based fees, using the subscription charge. Subscription charges are defined on your rate card and you can select which subscription is applicable to add to each contract.         When you add a subscription to a contract you need to:

        - Define whether the subscription is paid for in-advance or in-arrears (`collection_schedule`)

        - Define the proration behavior (`proration`)

        - Specify an initial quantity (`initial_quantity`)

        - Define which subscription rate on the rate card should be used (`subscription_rate`)


        Read more about [Subscriptions](https://docs.metronome.com/manage-product-access/create-subscription/).


        #### Scheduled Charges

        Set up one-time, recurring, or entirely custom charges that occur on specific dates, separate from usage-based billing or commitments. These can be used to model non-recurring platform charges or professional services.


        #### Threshold Billing

        Metronome allows you to configure automatic billing triggers when customers reach spending thresholds to prevent fraud and manage risk. You can use `spend_threshold_configuration` to trigger an invoice to cover current charges whenever the threshold is reached or you can ensure the customer maintains a minimum prepaid balance using the `prepaid_balance_configuration`.


        Read more about [Spend Threshold](https://docs.metronome.com/manage-product-access/spend-thresholds/) and [Prepaid Balance Thresholds](https://docs.metronome.com/manage-product-access/prepaid-balance-thresholds/).


        ### Usage guidelines:

        - You can always [Edit Contracts](https://docs.metronome.com/manage-product-access/edit-contract/) after it has been created, using the `editContract` endpoint. Metronome keeps track of all edits, both in the audit log and over the `getEditHistory` endpoint.

        - Customers in Metronome can have multiple concurrent contracts at one time. Use `usage_filters` to route the correct usage to each contract. [Read more about usage filters](https://docs.metronome.com/manage-product-access/provision-customer/#create-a-usage-filter).

        '
      operationId: createContract-v1
      summary: Create a contract
      tags:
      - Contracts
      requestBody:
        description: Create a new contract
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractPayload'
            example:
              customer_id: 13117714-3f05-48e5-a6e9-a66093f13b4d
              rate_card_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
              starting_at: '2020-01-01T00:00:00.000Z'
              billing_provider_configuration:
                billing_provider: stripe
                delivery_method: direct_to_billing_provider
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Id'
              example:
                data:
                  id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/contracts/amend:
    post:
      description: 'Amendments will be replaced by Contract editing. New clients should implement using the `editContract` endpoint. Read more about the migration to contract editing [here](/guides/implement-metronome/migrate-amendments-to-edits/) and reach out to your Metronome representative for more details. Once contract editing is enabled, access to this endpoint will be removed.

        '
      operationId: amendContract-v1
      summary: Amend a contract
      tags:
      - Contracts
      requestBody:
        description: Amend a contract
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmendContractPayload'
            example:
              customer_id: 13117714-3f05-48e5-a6e9-a66093f13b4d
              contract_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
              starting_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Id'
              example:
                data:
                  id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/contracts/archive:
    post:
      description: "Permanently end and archive a contract along with all its terms. Any draft invoices will be canceled, and all upcoming scheduled invoices will be voided–also all finalized invoices can optionally be voided. Use this in the event a contract was incorrectly created and needed to be removed from a customer.\n\n#### Impact on commits and credits:\nWhen archiving a contract, all associated commits and credits are also archived. For prepaid commits with active segments, Metronome automatically generates expiration ledger entries to close out any remaining balances, ensuring accurate accounting of unused prepaid amounts. These ledger entries will appear in the commit's transaction history with type `PREPAID_COMMIT_EXPIRATION`.\n\n#### Archived contract visibility: \nArchived contracts remain accessible for historical reporting and audit purposes. They can be retrieved using the `ListContracts` endpoint by setting the `include_archived` parameter to `true` or in the Metronome UI when the \"Show archived\" option is enabled.\n"
      operationId: archiveContract-v1
      summary: Archive a contract
      tags:
      - Contracts
      requestBody:
        description: "Permanently end and archive a contract along with all its terms. Any draft invoices will be canceled, and all upcoming scheduled invoices will be voided–also all finalized invoices can optionally be voided. Use this in the event a contract was incorrectly created and needed to be removed from a customer.\n\nImpact on commits and credits: \nWhen archiving a contract, all associated commits and credits are also archived. For prepaid commits with active segments, Metronome automatically generates expiration ledger entries to close out any remaining balances, ensuring accurate accounting of unused prepaid amounts. These ledger entries will appear in the commit's transaction history with type PREPAID_COMMIT_EXPIRATION.\n\nArchived contract visibility: \nArchived contracts remain accessible for historical reporting and audit purposes. They can be retrieved using the `ListContracts` endpoint by setting the `include_archived` parameter to `true` or in the Metronome UI when the \"Show archived\" option is enabled.\n"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveContractPayload'
            example:
              customer_id: 13117714-3f05-48e5-a6e9-a66093f13b4d
              contract_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
              void_invoices: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Id'
              example:
                data:
                  id: 8deed800-1b7a-495d-a207-6c52bac54dc9
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/contracts/setUsageFilter:
    post:
      description: "If a customer has multiple contracts with overlapping rates, the usage filter routes usage to the appropriate contract based on a predefined group key. \n\nAs an example, imagine you have a customer associated with two projects. Each project is associated with its own contract. You can create a usage filter with group key `project_id`\non each contract, and route usage for `project_1` to the first contract and `project_2` to the second contract. \n\n### Use this endpoint to:\n- Support enterprise contracting scenarios where multiple contracts are associated to the same customer with the same rates.\n- Update the usage filter associated with the contract over time. \n\n### Usage guidelines:\nTo use usage filters, the `group_key` must be defined on the billable metrics underlying the rate card on the contracts.\n"
      operationId: setUsageFilter-v1
      summary: Set a contract usage filter
      tags:
      - Contracts
      requestBody:
        description: Set usage filter for contract
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetUsageFilterPayload'
            example:
              customer_id: 13117714-3f05-48e5-a6e9-a66093f13b4d
              contract_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
              group_key: business_subscription_id
              group_values:
              - ID-1
              - ID-2
              starting_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/contracts/updateInvoiceIssueDate:
    post:
      description: "Updates the issue date of a specific DRAFT invoice within a contract. Use this endpoint to reschedule when an invoice should be issued without affecting future billing cycles or the underlying contract terms. Only works with invoices still in DRAFT status, and the new issue date cannot be later than the contract's end date. \n\n### Usage guidelines:\nThis only changes the individual invoice's issue date - it does not modify the recurring invoice schedule of associated charges or commits. To update both the issue date and future billing schedule, use the 'edit contract' or 'edit commit' endpoints instead.\n"
      operationId: updateInvoiceIssueDate-v1
      summary: Update invoice issue date
      tags:
      - Contracts
      requestBody:
        description: The invoice_id and new issue_date
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceIssueDatePayload'
            example:
              invoice_id: 13117714-3f05-48e5-a6e9-a66093f13b4d
              issue_date: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Id'
              example:
                data:
                  id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/contracts/updateEndDate:
    post:
      description: 'Update or add an end date to a contract. Ending a contract early will impact draft usage statements, truncate any terms, and remove upcoming scheduled invoices. Moving the date into the future will only extend the contract length. Terms and scheduled invoices are not extended. In-advance subscriptions will not be extended. Use this if a contract''s end date has changed or if a perpetual contract ends.

        '
      operationId: updateContractEndDate-v1
      summary: Update the contract end date
      tags:
      - Contracts
      requestBody:
        description: Update the end date of a contract
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContractEndDatePayload'
            example:
              customer_id: 13117714-3f05-48e5-a6e9-a66093f13b4d
              contract_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
              ending_before: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Id'
              example:
                data:
                  id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/contracts/getContractRateSchedule:
    post:
      description: "For a specific customer and contract, get the rates at a specific point in time. This endpoint takes the contract's rate card into consideration, including scheduled changes. It also takes into account overrides on the contract. \n\nFor example, if you want to show your customer a summary of the prices they are paying, inclusive of any negotiated discounts or promotions, use this endpoint. This endpoint only returns rates that are entitled.\n"
      operationId: getContractRateSchedule-v1
      summary: Get the rate schedule for a contract
      parameters:
      - $ref: '#/components/parameters/PageLimit'
      - $ref: '#/components/parameters/NextPage'
      tags:
      - Contracts
      requestBody:
        description: Contract rate schedule filter options.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetContractRateSchedulePayload'
            example:
              customer_id: 13117714-3f05-48e5-a6e9-a66093f13b4d
              contract_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
              at: '2020-01-01T00:00:00.000Z'
              selectors:
              - product_id: d6300dbb-882e-4d2d-8dec-5125d16b65d0
                partial_pricing_group_values:
                  region: us-west-2
                  cloud: aws
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  next_page:
                    type: string
                    nullable: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContractRateSchedule'
  /v1/contracts/getSubscriptionQuantityHistory:
    post:
      description: "Get the history of subscription quantities and prices over time for a given `subscription_id`. This endpoint can be used to power an in-product experience where you show a customer their historical changes to seat count. Future changes are not included in this endpoint - use the `getContract` endpoint to view the future scheduled changes to a subscription's quantity. \n\nSubscriptions are used to model fixed recurring fees as well as seat-based recurring fees. To model changes to the number of seats in Metronome, you can increment or decrement the quantity on a subscription at any point in the past or future.\n"
      summary: Get subscription quantity history
      operationId: getSubscriptionQuantityHistory-v1
      tags:
      - Contracts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - customer_id
              - contract_id
              - subscription_id
              properties:
                customer_id:
                  type: string
                  format: uuid
                contract_id:
                  type: string
                  format: uuid
                subscription_id:
                  type: string
                  format: uuid
            example:
              customer_id: 13117714-3f05-48e5-a6e9-a66093f13b4d
              contract_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
              subscription_id: 1a824d53-bde6-4d82-96d7-6347ff227d5c
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/SubscriptionQuantityHistory'
              example:
                data:
                  subscription_id: 1a824d53-bde6-4d82-96d7-6347ff227d5c
                  fiat_credit_type_id: 2714e483-4ff1-48e4-9e25-ac732e8f24f2
                  history:
                  - starting_at: '2020-01-01T00:00:00.000Z'
                    data:
                    - quantity: 100
                      unit_price: 1000
                      total: 100000
                  - starting_at: '2020-02-01T00:00:00.000Z'
                    data:
                    - quantity: 100
                      unit_price: 1000
                      total: 100000
                    - quantity: 200
                      unit_price: 2000
                      total: 400000
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                    enum:
                    - ContractNotFound
                    - CustomerNotFound
                    - SubscriptionNotFound
                  message:
                    type: string
  /v1/contracts/getSubscriptionSeatsHistory:
    post:
      description: 'Get the history of subscription seats schedule over time for a given `subscription_id`. This endpoint provides information about seat assignments and total quantities for different time periods, allowing you to track how seat assignments have changed over time.


        ### Use this endpoint to:

        - Track changes to seat assignments over time

        - Get seat schedule for a specific date using the `covering_date` parameter

        - Get seat schedule history with optional date range filtering using `starting_at` and `ending_before`


        ### Key response fields:

        - data: array of seat schedule entries with time periods, quantity, and assignments

        - next_page: cursor for pagination to retrieve additional results


        ### Usage guidelines:

        - Use `covering_date` to get the active seats for a specific point in time. `covering_date` cannot be used with `starting_at` or `ending_before`.

        - Use `starting_at` and `ending_before` to filter results by time range. `starting_at` and `ending_before` cannot be used with `covering_date`.

        - Maximum limit is 10 seat schedule entries per request

        - Results are ordered by `starting_at` timestamp

        '
      summary: Get subscription seats history
      operationId: getSubscriptionSeatsHistory-v1
      tags:
      - Contracts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - customer_id
              - contract_id
              - subscription_id
              properties:
                customer_id:
                  type: string
                  format: uuid
                contract_id:
                  type: string
                  format: uuid
                subscription_id:
                  type: string
                  format: uuid
                limit:
                  type: integer
                  default: 10
                  nullable: true
                  description: 'Maximum number of seat schedule entries to return. Defaults to 10. Required range: 1 <= x <= 10.'
                cursor:
                  type: string
                  nullable: true
                  description: Cursor for pagination. Use the value from the `next_page` field of the previous response to retrieve the next page of results.
                covering_date:
                  type: string
                  format: date-time
                  nullable: true
                  description: Get the seats history segment for the covering date. Cannot be used with `starting_at` or `ending_before`.
                starting_at:
                  type: string
                  format: date-time
                  nullable: true
                  description: Include seats history segments that are active at or after this timestamp. Use with `ending_before` to get a specific time range. If not set, there's no lower bound.
                ending_before:
                  type: string
                  format: date-time
                  nullable: true
                  description: Include seats history segments that are active at or before this timestamp. Use with `starting_at` to get a specific time range. If not set, there's no upper bound.
            example:
              customer_id: 13117714-3f05-48e5-a6e9-a66093f13b4d
              contract_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
              subscription_id: 1a824d53-bde6-4d82-96d7-6347ff227d5c
              covering_date: '2024-01-15T00:00:00.000Z'
              limit: 10
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - next_page
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubscriptionSeatsScheduleEntry'
                  next_page:
                    type: string
                    nullable: true
                    description: Cursor for the next page of results
              example:
                data:
                - starting_at: '2024-01-01T00:00:00.000Z'
                  ending_before: '2024-01-15T00:00:00.000Z'
                  total_quantity: 5
                  assigned_seat_ids:
                  - seat-1
                  - seat-2
                  - seat-3
                  - seat-4
                  - seat-5
                - starting_at: '2024-01-15T00:00:00.000Z'
                  ending_before: null
                  total_quantity: 3
                  assigned_seat_ids:
                  - seat-1
                  - seat-2
                  - seat-3
                next_page: eyJzdGFydGluZ19hdCI6IjIwMjQtMDEtMTVUMDA6MDA6MDAuMDAwWiJ9
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                    enum:
                    - ContractNotFound
                    - CustomerNotFound
                    - SubscriptionNotFound
                    - InvalidArgument
                  message:
                    type: string
  /v1/contracts/scheduleProServicesInvoice:
    post:
      x-mint:
        groups:
        - client_id:e3147d6d-4101-4cd1-9888-ce3afeeac5b2
      description: 'Create a new scheduled invoice for Professional Services terms on a contract. This endpoint''s availability is dependent on your client''s configuration.

        '
      operationId: scheduleProServicesInvoice-v1
      summary: Schedule ProService invoice
      tags:
      - Contracts
      requestBody:
        description: schedule an invoice for the specified Professional Services terms on a contract
        content:
          application/json:
            schema:
              type: object
              required:
              - customer_id
              - contract_id
              - issued_at
              - line_items
              properties:
                customer_id:
                  type: string
                  format: uuid
                contract_id:
                  type: string
                  format: uuid
                issued_at:
                  type: string
                  format: date-time
                  description: The date the invoice is issued
                netsuite_invoice_header_start:
                  type: string
                  format: date-time
                  description: The start date of the invoice header in Netsuite
                netsuite_invoice_header_end:
                  type: string
                  format: date-time
                  description: The end date of the invoice header in Netsuite
                line_items:
                  description: Each line requires an amount or both unit_price and quantity.
                  type: array
                  items:
                    $ref: '#/components/schemas/ProServiceInvoiceLineItem'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/contracts/createHistoricalInvoices:
    post:
      description: 'Create historical usage invoices for past billing periods on specific contracts. Use this endpoint to generate retroactive invoices with custom usage line items, quantities, and date ranges. Supports preview mode to validate invoice data before creation. Ideal for billing migrations or correcting past billing periods.

        '
      operationId: createHistoricalContractUsageInvoices-v1
      summary: Create historical invoices
      tags:
      - Contracts
      requestBody:
        description: Create a historical usage invoice for a contract
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHistoricalContractUsageInvoiceRequestPayload'
            example:
              invoices:
              - customer_id: 13117714-3f05-48e5-a6e9-a66093f13b4d
                contract_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
                credit_type_id: 2714e483-4ff1-48e4-9e25-ac732e8f24f2
                inclusive_start_date: '2020-01-01T00:00:00.000Z'
                exclusive_end_date: '2020-02-01T00:00:00.000Z'
                issue_date: '2020-02-01T00:00:00.000Z'
                usage_line_items:
                - product_id: f14d6729-6a44-4b13-9908-9387f1918790
                  inclusive_start_date: '2020-01-01T00:00:00.000Z'
                  exclusive_end_date: '2020-02-01T00:00:00.000Z'
                  quantity: 100
              preview: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      $ref: '#/components/schemas/Invoice'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/composite/createCustomerWithContract:
    post:
      x-mint:
        groups:
        - client_id:5b9e3072-415b-4842-94f0-0b6700c8b6be
        - client_id:179e395f-5349-4fe2-bf12-64ab4e5bc560
        - client_id:f157d376-0781-4ef3-9db9-775a9052148e
        - client_id:7dd2f652-7629-4925-9069-77f5c5d3db37
        - client_id:c0ce3dc0-6d3e-4f6b-aadf-dfb90f2bf9f5
        - client_id:cf874b25-ca3b-460b-b6fe-5f33b3c2ea33
      description: Create a new customer and provision a contract. This endpoint's availability is dependent on your client's configuration.
      operationId: createCustomerWithContract-v1
      summary: Create a customer and provision a contract.
      tags:
      - Contracts
      requestBody:
        description: The customer and contract details to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerWithContractPayload'
            example:
              customer:
                name: Example, Inc.
                ingest_aliases:
                - team@example.com
              contract:
                starting_at: '2020-01-01T00:00:00.000Z'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/CustomerAndContract'
              example:
                data:
                  customer_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
                  ingest_aliases:
                  - team@example.com
                  customer_name: Aperture, Inc.
                  contract_id: 7aa11640-0703-4600-8eb9-293f535a6b74
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/packages/create:
    post:
      description: "Create a package that defines a set of reusable, time-relative contract terms that can be used across cohorts of customers. Packages provide an abstraction layer on top of rate cards to provide an easy way to provision customers with standard pricing. \n\n### **Use this endpoint to:**\n- Model standard pay-as-you-go pricing packages that can be easily reused across customers\n- Define standardized contract terms and discounting for sales-led motions\n- Set aliases for the package to facilitate easy package transition. Aliases are human-readable names that you can use in the place of the id of the package when provisioning a customer’s contract. By using an alias, you can easily create a contract and provision a customer by choosing the “Starter Plan” package, without storing the package ID in your internal systems. This is helpful when launching terms for a package, as you can create a new package with the “Starter Plan” alias scheduled to be assigned without updating your provisioning code.\n\n### Key input fields:\n- `starting_at_offset`: Starting date relative to contract start. Generates the `starting_at` date when a contract is provisioned using a package.\n- `duration`: Duration starting from `starting_at_offset`. Generates the `ending_before` date when a contract is provisioned using a package.\n- `date_offset`: Date relative to contract start. Used for point-in-time dates without a duration.\n- `aliases`: Human-readable name to use when provisioning contracts with a package.\n\n### Usage guidelines:\n- Use packages for standard self-serve use cases where customers have consistent terms. For customers with negotiated custom contract terms, use the `createContract` endpoint for maximum flexibility.\n- Billing provider configuration can be set when creating a package by using `billing_provider` and `delivery_method`. To provision a customer successfully with a package, the customer must have one and only one billing provider configuration that matches the billing provider configuration set on the package.\n- A package alias can only be used by one package at a time. If you create a new package with an alias that is already in use by another package, the original package’s alias schedule will be updated. The alias will reference the package to which it was most recently assigned.\n- Terms can only be specified using times relative to the contract start date. Supported granularities are: `days`, `weeks`, `months`, `years`\n- Packages cannot be edited once created. Use the rate card to easily add new rates across all of your customers or make direct edits to a contract after provisioning with a package. Edited contracts will still be associated with the package used during provisioning.\n"
      operationId: createPackage-v1
      summary: Create a package
      tags:
      - Contracts
      requestBody:
        description: Create a new package
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePackagePayload'
            example:
              name: My package
              rate_card_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
              billing_provider: stripe
              delivery_method: direct_to_billing_provider
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Id'
              example:
                data:
                  id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/packages/listContractsOnPackage:
    post:
      description: "For a given package, returns all contract IDs and customer IDs associated with the package over a specific time period. \n\n### Use this endpoint to:\n- Understand which customers are provisioned on a package at any given time for internal cohort management\n- Manage customer migrations to a new package. For example, to migrate all active customers to a new package, call this endpoint, end contracts, and provision customers on a new package.\n\n### **Usage guidelines:**\nUse the **`starting_at`**, **`covering_date`**, and **`include_archived`** parameters to filter the list of returned contracts. For example, to list only currently active contracts, pass **`covering_date`** equal to the current time.\n"
      summary: List contracts associated with a package
      operationId: listContractsOnPackage-v1
      tags:
      - Contracts
      parameters:
      - $ref: '#/components/parameters/PageLimit'
      - $ref: '#/components/parameters/NextPage'
      requestBody:
        description: Package ID and optional filters
        content:
          application/json:
            schema:
              type: object
              required:
              - package_id
              properties:
                package_id:
                  type: string
                  format: uuid
                starting_at:
                  type: string
                  format: date-time
                  description: Optional RFC 3339 timestamp. Only include contracts that started on or after this date. This cannot be provided if covering_date filter is provided.
                covering_date:
                  type: string
                  format: date-time
                  description: Optional RFC 3339 timestamp. Only include contracts active on the provided date. This cannot be provided if starting_at filter is provided.
                include_archived:
                  type: boolean
                  description: Default false. Determines whether to include archived contracts in the results
            example:
              package_id: 13117714-3f05-48e5-a6e9-a66093f13b4d
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContractProjectionSummary'
                  next_page:
                    type: string
                    nullable: true
              example:
                data:
                - contract_id: 63798fdb-6883-4e53-8365-74d42a3e1f09
                  customer_id: f0b78a5e-01d1-4ed1-96da-05bc225963ec
                  starting_at: '2024-01-01T00:00:00Z'
                next_page: eyJvZmZzZXQiOjF9
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                    enum:
                    - PackageNotFound
                  message:
                    type: string
  /v2/contracts/get:
    post:
      description: "Gets the details for a specific contract, including contract term, rate card information, credits and commits, and more. \n\n### Use this endpoint to: \n- Check the duration of a customer's current contract\n- Get details on contract terms, including access schedule amounts for commitments and credits\n- Understand the state of a contract at a past time. As you can evolve the terms of a contract over time through editing, use the `as_of_date` parameter to view the full contract configuration as of that point in time. \n\n### Usage guidelines: \n- Optionally, use the `include_balance` and `include_ledger` fields to include balances and ledgers in the credit and commit responses. Using these fields will cause the query to be slower.\n"
      operationId: getContract-v2
      summary: Get a contract (v2)
      tags:
      - Contracts
      requestBody:
        description: Contract and customer IDs
        content:
          application/json:
            schema:
              type: object
              required:
              - customer_id
              - contract_id
              properties:
                customer_id:
                  type: string
                  format: uuid
                contract_id:
                  type: string
                  format: uuid
                include_ledgers:
                  type: boolean
                  description: Include commit/credit ledgers in the response. Setting this flag may cause the query to be slower. Cannot be used with as_of_date parameter.
                as_of_date:
                  type: string
                  format: date-time
                  description: Optional RFC 3339 timestamp. Return the contract as of this date. Cannot be used with include_ledgers parameter.
                include_balance:
                  type: boolean
                  description: Include the balance of credits and commits in the response. Setting this flag may cause the query to be slower.
            example:
              customer_id: 13117714-3f05-48e5-a6e9-a66093f13b4d
              contract_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/ContractV2'
              example:
                data:
                  id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
                  customer_id: 13117714-3f05-48e5-a6e9-a66093f13b4d
                  rate_card_id: 92f3080d-27ca-4306-a23f-2430de61851e
                  starting_at: '2020-01-01T00:00:00.000Z'
                  net_payment_terms_days: 7
                  ending_before: '2022-01-01T00:00:00.000Z'
                  commits:
                  - id: 62c0cb84-bf3f-48b9-9bcf-a8ddf8c1cf35
                    type: PREPAID
                    name: My test commit
                    description: My test commit description
                    product:
                      id: 2e30f074-d04c-412e-a134-851ebfa5ceb2
                      name: My product A
                    rollover_fraction: 0.1
                    applicable_product_ids:
                    - 13a2179b-f0cb-460b-85a1-cd42964ca533
                    access_schedule:
                      credit_type:
                        id: 2714e483-4ff1-48e4-9e25-ac732e8f24f2
                        name: USD (cents)
                      schedule_items:
                      - id: 2d45952c-5a6e-43a9-8aab-f61ee21be81a
                        amount: 10000000
                        starting_at: '2020-02-01T00:00:00.000Z'
                        ending_before: '2021-02-01T00:00:00.000Z'
                    invoice_schedule:
                      credit_type:
                        id: 2714e483-4ff1-48e4-9e25-ac732e8f24f2
                        name: USD (cents)
                      schedule_items:
                      - id: f15e4e23-f74e-4de4-9b3a-8b07434116c4
                        invoice_id: 525b9759-7bbd-4a05-aab1-d7c43c976b57
                        amount: 10000000
                        unit_price: 10000000
                        quantity: 1
                        timestamp: '2020-03-01T00:00:00.000Z'
                      do_not_invoice: false
                    created_at: '2020-01-01T00:00:00.000Z'
                  overrides:
                  - id: 6cf3292a-e85c-4be6-822c-e25ba9d19757
                    created_at: '2020-01-01T00:00:00.000Z'
                    product:
                      id: eae8903b-693b-41a7-8c0b-f23748c9a9c8
                      name: My product B
                    starting_at: '2020-01-01T00:00:00.000Z'
                    type: MULTIPLIER
                    multiplier: 0.1
                  scheduled_charges:
                  - id: 8e511ff1-3fd5-4d86-bc89-1e80239874bf
                    name: My test scheduled charge
                    product:
                      id: 2e30f074-d04c-412e-a134-851ebfa5ceb2
                      name: My product A
                    schedule:
                      schedule_items:
                      - id: 6ca40ebc-9c01-484e-a64e-4e47fbbd0ebe
                        invoice_id: 5cced82b-5464-41b4-9ea7-3e080e0a4dba
                        amount: 1000000
                        unit_price: 1000000
                        quantity: 1
                        timestamp: '2020-02-15T00:00:00.000Z'
                  scheduled_charges_on_usage_invoices: ALL
                  transitions:
                  - type: RENEWAL
                    from_contract_id: 9bf48856-b430-42f4-844f-4d2ea85bcff8
                    to_contract_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
                  usage_statement_schedule:
                    frequency: MONTHLY
                    billing_anchor_date: '2020-01-01T00:00:00.000Z'
                  created_at: '2019-12-31T14:23:55.234Z'
                  created_by: Alice
                  custom_fields:
                    x_account_id: KyVnHhSBWl7eY2bl
                  usage_filter: []
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                    enum:
                    - CustomerNotFound
                    - ContractNotFound
                  message:
                    type: string
  /v2/contracts/getEditHistory:
    post:
      description: "List all the edits made to a contract over time. In Metronome, you can edit a contract at any point after it's created to fix mistakes or reflect changes in terms. Metronome stores a full history of all edits that were ever made to a contract, whether through the UI, `editContract` endpoint, or other endpoints like `updateContractEndDate`. \n\n### Use this endpoint to: \n- Understand what changes were made to a contract, when, and by who\n\n### Key response fields: \n- An array of every edit ever made to the contract\n- Details on each individual edit - for example showing that in one edit, a user added two discounts and incremented a subscription quantity.\n"
      summary: Get contract edit history
      operationId: getContractEditHistory-v2
      tags:
      - Contracts
      requestBody:
        description: Contract ID
        content:
          application/json:
            schema:
              type: object
              required:
              - customer_id
              - contract_id
              properties:
                customer_id:
                  type: string
                  format: uuid
                contract_id:
                  type: string
                  format: uuid
            example:
              customer_id: 13117714-3f05-48e5-a6e9-a66093f13b4d
              contract_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContractEdit'
              example:
                data:
                - id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
                  add_commits:
                  - id: addda517-6d7a-42ea-834c-f5e6cf8c670e
                    type: PREPAID
                    product:
                      id: 2e30f074-d04c-412e-a134-851ebfa5ceb2
                      name: My product A
                    description: A new commit
                    applicable_product_tags:
                    - tag1
                    - tag2
                    access_schedule:
                      credit_type:
                        id: 2714e483-4ff1-48e4-9e25-ac732e8f24f2
                        name: USD (cents)
                      schedule_items:
                      - id: 2d45952c-5a6e-43a9-8aab-f61ee21be81a
                        amount: 10000000
                        starting_at: '2020-02-01T00:00:00.000Z'
                        ending_before: '2021-02-01T00:00:00.000Z'
                    invoice_schedule:
                      credit_type:
                        id: 2714e483-4ff1-48e4-9e25-ac732e8f24f2
                        name: USD (cents)
                      schedule_items:
                      - id: f15e4e23-f74e-4de4-9b3a-8b07434116c4
                        invoice_id: 525b9759-7bbd-4a05-aab1-d7c43c976b57
                        amount: 10000000
                        unit_price: 10000000
                        quantity: 1
                        timestamp: '2020-03-01T00:00:00.000Z'
                      do_not_invoice: false
                - id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
                  add_overrides:
                  - id: 6cf3292a-e85c-4be6-822c-e25ba9d19757
                    created_at: '2020-01-01T00:00:00.000Z'
                    starting_at: '2020-01-01T00:00:00.000Z'
                    type: MULTIPLIER
                    multiplier: 1.5
                    priority: 1
                    override_specifiers:
                    - product_tags:
                      - tag1
                      pricing_group_values:
                        region: us-west-1
                        hardware_type: gpu
                    entitled: true
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                    enum:
                    - ContractNotFound
                    - CustomerNotFound
                  message:
                    type: string
  /v2/contracts/list:
    post:
      description: "For a given customer, lists all of their contracts in chronological order. \n\n### Use this endpoint to:\n- Check if a customer is provisioned with any contract, and at which tier\n- Check the duration and terms of a customer's current contract\n- Power a page in your end customer experience that shows the customer's history of tiers (e.g. this customer started out on the Pro Plan, then downgraded to the Starter plan).\n\n### Usage guidelines:\nUse the `starting_at`, `covering_date`, and `include_archived` parameters to filter the list of returned contracts. For example, to list only currently active contracts, pass `covering_date` equal to the current time.\n"
      summary: List customer contracts (v2)
      operationId: listContracts-v2
      tags:
      - Contracts
      requestBody:
        description: Customer ID and optional filters
        content:
          application/json:
            schema:
              type: object
              required:
              - customer_id
              properties:
                customer_id:
                  type: string
                  format: uuid
                include_ledgers:
                  type: boolean
                  description: Include commit/credit ledgers in the response. Setting this flag may cause the response to be slower.
                include_archived:
                  type: boolean
                  description: Include archived contracts in the response.
                include_balance:
                  type: boolean
                  description: Include the balance of credits and commits in the response. Setting this flag may cause the response to be slower.
                starting_at:
                  type: string
                  format: date-time
                  description: Optional RFC 3339 timestamp. Only include contracts that started on or after this date. This cannot be provided if covering_date filter is provided.
                covering_date:
                  type: string
                  format: date-time
                  description: Optional RFC 3339 timestamp. Only include contracts active on the provided date. This cannot be provided if starting_at filter is provided.
            example:
              customer_id: 13117714-3f05-48e5-a6e9-a66093f13b4d
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContractV2'
              example:
                data:
                - id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
                  customer_id: 13117714-3f05-48e5-a6e9-a66093f13b4d
                  rate_card_id: 92f3080d-27ca-4306-a23f-2430de61851e
                  starting_at: '2020-01-01T00:00:00.000Z'
                  net_payment_terms_days: 7
                  ending_before: '2022-01-01T00:00:00.000Z'
                  commits:
                  - id: 62c0cb84-bf3f-48b9-9bcf-a8ddf8c1cf35
                    type: PREPAID
                    name: My test commit
                    description: My test commit description
                    product:
                      id: 2e30f074-d04c-412e-a134-851ebfa5ceb2
                      name: My product A
                    rollover_fraction: 0.1
                    applicable_product_ids:
                    - 13a2179b-f0cb-460b-85a1-cd42964ca533
                    access_schedule:
                      credit_type:
                        id: 2714e483-4ff1-48e4-9e25-ac732e8f24f2
                        name: USD (cents)
                      schedule_items:
                      - id: 2d45952c-5a6e-43a9-8aab-f61ee21be81a
                        amount: 10000000
                        starting_at: '2020-02-01T00:00:00.000Z'
                        ending_before: '2021-02-01T00:00:00.000Z'
                    invoice_schedule:
                      credit_type:
                        id: 2714e483-4ff1-48e4-9e25-ac732e8f24f2
                        name: USD (cents)
                      schedule_items:
                      - id: f15e4e23-f74e-4de4-9b3a-8b07434116c4
                        invoice_id: 525b9759-7bbd-4a05-aab1-d7c43c976b57
                        amount: 10000000
                        unit_price: 10000000
                        quantity: 1
                        timestamp: '2020-03-01T00:00:00.000Z'
                      do_not_invoice: false
                    created_at: '2020-01-01T00:00:00.000Z'
                  overrides:
                  - id: 6cf3292a-e85c-4be6-822c-e25ba9d19757
                    created_at: '2020-01-01T00:00:00.000Z'
                    product:
                      id: eae8903b-693b-41a7-8c0b-f23748c9a9c8
                      name: My product B
                    starting_at: '2020-01-01T00:00:00.000Z'
                    type: MULTIPLIER
                    multiplier: 0.1
                  scheduled_charges:
                  - id: 8e511ff1-3fd5-4d86-bc89-1e80239874bf
                    name: My test scheduled charge
                    product:
                      id: 2e30f074-d04c-412e-a134-851ebfa5ceb2
                      name: My product A
                    schedule:
                      schedule_items:
                      - id: 6ca40ebc-9c01-484e-a64e-4e47fbbd0ebe
                        invoice_id: 5cced82b-5464-41b4-9ea7-3e080e0a4dba
                        amount: 1000000
                        unit_price: 1000000
                        quantity: 1
                        timestamp: '2020-02-15T00:00:00.000Z'
                  scheduled_charges_on_usage_invoices: ALL
                  transitions:
                  - type: RENEWAL
                    from_contract_id: 9bf48856-b430-42f4-844f-4d2ea85bcff8
                    to_contract_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
                  usage_statement_schedule:
                    frequency: MONTHLY
                    billing_anchor_date: '2020-01-01T00:00:00.000Z'
                  created_at: '2019-12-31T14:23:55.234Z'
                  created_by: Alice
                  custom_fields:
                    x_account_id: KyVnHhSBWl7eY2bl
                  usage_filter: []
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                    enum:
                    - CustomerNotFound
                  message:
                    type: string
  /v2/contracts/edit:
    post:
      description: 'The ability to edit a contract helps you react quickly to the needs of your customers and your business.


        ### Use this endpoint to:

        - Encode mid-term commitment and discount changes

        - Fix configuration mistakes and easily roll back packaging changes


        ### Key response fields:

        - The `id` of the edit

        - Complete edit details. For example, if you edited the contract to add new overrides and credits, you will receive the IDs of those overrides and credits in the response.


        ### Usage guidelines:

        - When you edit a contract, any draft invoices update immediately to reflect that edit. Finalized invoices remain unchanged - you must void and regenerate them in the UI or API to reflect the edit.

        - Contract editing must be enabled to use this endpoint. Reach out to your Metronome representative to learn more.

        '
      summary: Edit a contract
      operationId: editContract-v2
      tags:
      - Contracts
      requestBody:
        description: Contract and customer IDs and fields to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditContractPayload'
            example:
              customer_id: 13117714-3f05-48e5-a6e9-a66093f13b4d
              contract_id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
              add_overrides:
              - type: MULTIPLIER
                starting_at: '2024-11-02T00:00:00Z'
                product_id: d4fc086c-d8e5-4091-a235-fbba5da4ec14
                multiplier: 2
                priority: 100
              add_scheduled_charges:
              - product_id: 2e30f074-d04c-412e-a134-851ebfa5ceb2
                schedule:
                  schedule_items:
                  - timestamp: '2020-02-15T00:00:00.000Z'
                    unit_price: 1000000
                    quantity: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Id'
              example:
                data:
                  id: d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                    enum:
                    - CustomerNotFound
                    - ContractNotFound
                  message:
                    type: string
components:
  schemas:
    BillingProviderDeliveryMethodType:
      type: string
      enum:
      - direct_to_billing_provider
      - aws_sqs
      - tackle
      - aws_sns
    HierarchyLink:
      type: object
      required:
      - contract_id
      - customer_id
      properties:
        contract_id:
          type: string
          format: uuid
        customer_id:
          type: string
          format: uuid
    SpendThresholdConfiguration:
      type: object
      required:
      - is_enabled
      - threshold_amount
      - commit
      - payment_gate_config
      properties:
        is_enabled:
          type: boolean
          description: When set to false, the contract will not be evaluated against the threshold_amount. Toggling to true will result an immediate evaluation, regardless of prior state.
        threshold_amount:
          description: Specify the threshold amount for the contract. Each time the contract's usage hits this amount, a threshold charge will be initiated.
          type: number
        commit:
          $ref: '#/components/schemas/SpendThresholdCommit'
        payment_gate_config:
          $ref: '#/components/schemas/PaymentGateConfig'
        discount_configuration:
          x-mint:
            groups:
            - ff:threshold-billing-discounts
          $ref: '#/components/schemas/DiscountConfiguration'
    SubscriptionProrationInput:
      type: object
      properties:
        is_prorated:
          type: boolean
          description: Indicates if the partial period will be prorated or charged a full amount.
        invoice_behavior:
          type: string
          enum:
          - BILL_IMMEDIATELY
          - BILL_ON_NEXT_COLLECTION_DATE
          - bill_immediately
          - bill_on_next_collection_date
          description: "Indicates how mid-period quantity adjustments are invoiced. \n**BILL_IMMEDIATELY**: Only available when collection schedule is `ADVANCE`. The quantity increase will be billed immediately on the scheduled date.\n**BILL_ON_NEXT_COLLECTION_DATE**: The quantity increase will be billed for in-arrears at the end of the period.\n"
    HierarchyConfigurationV2:
      oneOf:
      - $ref: '#/components/schemas/ParentHierarchyConfiguration'
      - $ref: '#/components/schemas/ChildHierarchyConfigurationV2'
      description: 'Either a **parent** configuration with a list of children or a **child** configuration with a single parent.

        '
    Override:
      type: object
      required:
      - id
      - created_at
      - starting_at
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        product:
          type: object
          required:
          - id
          - name
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
        applicable_product_tags:
          type: array
          items:
            type: string
        override_specifiers:
          type: array
          items:
            $ref: '#/components/schemas/OverrideSpecifier'
        starting_at:
          type: string
          format: date-time
        ending_before:
          type: string
          format: date-time
        entitled:
          type: boolean
        type:
          type: string
          enum:
          - OVERWRITE
          - MULTIPLIER
          - TIERED
        priority:
          type: number
        multiplier:
          type: number
        overwrite_rate:
          $ref: '#/components/schemas/OverwriteRate'
        override_tiers:
          type: array
          items:
            $ref: '#/components/schemas/OverrideTier'
        is_commit_specific:
          type: boolean
        target:
          type: string
          enum:
          - COMMIT_RATE
          - LIST_RATE
        rate_type:
          type: string
          enum:
          - FLAT
          - flat
          - PERCENTAGE
          - percentage
          - SUBSCRIPTION
          - subscription
          - TIERED
          - tiered
          - TIERED_PERCENTAGE
          - tiered_percentage
          - CUSTOM
          - custom
          x-mint-enum:
            CUSTOM:
            - client_id:5b9e3072-415b-4842-94f0-0b6700c8b6be
            - client_id:179e395f-5349-4fe2-bf12-64ab4e5bc560
            - client_id:f157d376-0781-4ef3-9db9-775a9052148e
            - client_id:7dd2f652-7629-4925-9069-77f5c5d3db37
            - client_id:c0ce3dc0-6d3e-4f6b-aadf-dfb90f2bf9f5
            - client_id:cf874b25-ca3b-460b-b6fe-5f33b3c2ea33
            - client_id:97c07a0c-70db-448a-a1d4-adcd2b8bd1c7
            custom:
            - client_id:5b9e3072-415b-4842-94f0-0b6700c8b6be
            - client_id:179e395f-5349-4fe2-bf12-64ab4e5bc560
            - client_id:f157d376-0781-4ef3-9db9-775a9052148e
            - client_id:7dd2f652-7629-4925-9069-77f5c5d3db37
            - client_id:c0ce3dc0-6d3e-4f6b-aadf-dfb90f2bf9f5
            - client_id:cf874b25-ca3b-460b-b6fe-5f33b3c2ea33
            - client_id:97c07a0c-70db-448a-a1d4-adcd2b8bd1c7
            SUBSCRIPTION:
            - ff:legacy-subscriptions-enabled
            subscription:
            - ff:legacy-subscriptions-enabled
            TIERED_PERCENTAGE:
            - ff:support-charge-ga
            tiered_percentage:
            - ff:support-charge-ga
        price:
          type: number
          description: Default price. For FLAT rate_type, this must be >=0. For PERCENTAGE rate_type, this is a decimal fraction, e.g. use 0.1 for 10%; this must be >=0 and <=1.
        quantity:
          type: number
          x-mint:
            groups:
            - ff:legacy-subscriptions-enabled
          description: Default quantity. For SUBSCRIPTION rate_type, this must be >=0.
        is_prorated:
          type: boolean
          x-mint:
            groups:
            - ff:legacy-subscriptions-enabled
          description: Default proration configuration. Only valid for SUBSCRIPTION rate_type. Must be set to true.
        tiers:
          type: array
          items:
            $ref: '#/components/schemas/Tier'
          description: Only set for TIERED rate_type.
        value:
          type: object
          additionalProperties: true
          description: Only set for CUSTOM rate_type. This field is interpreted by custom rate processors.
        credit_type:
          $ref: '#/components/schemas/CreditType'
    UpdateScheduledChargeInput:
      type: object
      required:
      - scheduled_charge_id
      properties:
        scheduled_charge_id:
          type: string
          format: uuid
        netsuite_sales_order_id:
          x-mint:
            groups:
            - client_id:e3147d6d-4101-4cd1-9888-ce3afeeac5b2
          type: string
          nullable: true
        invoice_schedule:
          $ref: '#/components/schemas/UpdateInvoiceScheduleInput'
    PrepaidCommitSeatBasedAdjustmentLedgerEntry:
      type: object
      required:
      - type
      - timestamp
      - amount
      - segment_id
      properties:
        type:
          type: string
          enum:
          - PREPAID_COMMIT_SEAT_BASED_ADJUSTMENT
        timestamp:
          type: string
          format: date-time
        amount:
          type: number
        segment_id:
          type: string
          format: uuid
    CreditSeatBasedAdjustmentLedgerEntry:
      type: object
      required:
      - type
      - timestamp
      - amount
      - segment_id
      properties:
        type:
          type: string
          enum:
          - CREDIT_SEAT_BASED_ADJUSTMENT
        timestamp:
          type: string
          format: date-time
        amount:
          type: number
        segment_id:
          type: string
          format: uuid
    SpendThresholdConfigurationV2:
      type: object
      required:
      - is_enabled
      - threshold_amount
      - commit
      - payment_gate_config
      properties:
        is_enabled:
          type: boolean
          description: When set to false, the contract will not be evaluated against the threshold_amount. Toggling to true will result an immediate evaluation, regardless of prior state.
        threshold_amount:
          description: Specify the threshold amount for the contract. Each time the contract's usage hits this amount, a threshold charge will be initiated.
          type: number
        commit:
          $ref: '#/components/schemas/SpendThresholdCommit'
        payment_gate_config:
          $ref: '#/components/schemas/PaymentGateConfigV2'
        discount_configuration:
          x-mint:
            groups:
            - ff:threshold-billing-discounts
          $ref: '#/components/schemas/DiscountConfiguration'
    PostpaidCommitRolloverLedgerEntry:
      type: object
      required:
      - type
      - timestamp
      - amount
      - new_contract_id
      - segment_id
      properties:
        type:
          type: string
          enum:
          - POSTPAID_COMMIT_ROLLOVER
        timestamp:
          type: string
          format: date-time
        amount:
          type: number
        segment_id:
          type: string
          format: uuid
        new_contract_id:
          type: string
          format: uuid
    RecurringCommitInput:
      allOf:
      - $ref: '#/components/schemas/RecurringCreditInput'
      - type: object
        properties:
          invoice_amount:
            type: object
            required:
            - unit_price
            - quantity
            - credit_type_id
            properties:
              unit_price:
                type: number
              quantity:
                type: number
              credit_type_id:
                type: string
                format: uuid
            description: The amount the customer should be billed for the commit. Not required.
    PrepaidBalanceThresholdCommit:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseThresholdCommit'
      - type: object
        properties:
          applicable_product_ids:
            type: array
            items:
              type: string
              format: uuid
            description: Which products the threshold commit applies to. If applicable_product_ids, applicable_product_tags or specifiers are not provided, the commit applies to all products.
          applicable_product_tags:
            type: array
            items:
              type: string
            description: Which tags the threshold commit applies to. If applicable_product_ids, applicable_product_tags or specifiers are not provided, the commit applies to all products.
          specifiers:
            x-mint:
              groups:
              - ff:commit-specifiers
            type: array
            description: List of filters that determine what kind of customer usage draws down a commit or credit. A customer's usage needs to meet the condition of at least one of the specifiers to contribute to a commit's or credit's drawdown. This field cannot be used together with `applicable_product_ids` or `applicable_product_tags`.
            items:
              $ref: '#/components/schemas/CommitSpecifierInput'
    DiscountConfiguration:
      type: object
      required:
      - payment_fraction
      properties:
        payment_fraction:
          type: number
          description: The fraction of the original amount that the customer pays after applying the discount. For example, 0.85 means the customer pays 85% of the original amount (a 15% discount).
    ProServiceInvoiceLineItem:
      description: Describes the line item for a professional service charge on an invoice.
      type: object
      required:
      - professional_service_id
      properties:
        professional_service_id:
          type: string
          format: uuid
        amendment_id:
          type: string
          format: uuid
          description: If the professional_service_id was added on an amendment, this is required.
        unit_price:
          type: number
          description: If specified, this overrides the unit price on the pro service term. Must also provide quantity (but not amount) if providing unit_price.
        quantity:
          type: number
          description: Quantity for the charge. Will be multiplied by unit_price to determine the amount.
        amount:
          type: number
          description: Amount for the term on the new invoice.
        netsuite_invoice_billing_start:
          type: string
          format: date-time
          description: The start date for the billing period on the invoice.
        netsuite_invoice_billing_end:
          type: string
          format: date-time
          description: The end date for the billing period on the invoice.
        metadata:
          type: string
          description: For client use.
    HistoricalContractUsageInvoiceInputPayload:
      type: object
      required:
      - customer_id
      - contract_id
      - credit_type_id
      - inclusive_start_date
      - exclusive_end_date
      - issue_date
      - usage_line_items
      properties:
        customer_id:
          type: string
          format: uuid
        contract_id:
          type: string
          format: uuid
        credit_type_id:
          type: string
          format: uuid
        inclusive_start_date:
          type: string
          format: date-time
        exclusive_end_date:
          type: string
          x-mint:
            groups:
            - client_id:5b9e3072-415b-4842-94f0-0b6700c8b6be
            - client_id:179e395f-5349-4fe2-bf12-64ab4e5bc560
            - client_id:f157d376-0781-4ef3-9db9-775a9052148e
            - client_id:7dd2f652-7629-4925-9069-77f5c5d3db37
            - client_id:c0ce3dc0-6d3e-4f6b-aadf-dfb90f2bf9f5
            - client_id:cf874b25-ca3b-460b-b6fe-5f33b3c2ea33
            - client_id:9c7e2b27-9b4c-4b76-9df7-f9cb05665a6a
            - client_id:8e3a848a-4566-4cfb-be49-64d80118a7fc
          format: date-time
        issue_date:
          type: string
          format: date-time
        breakdown_granularity:
          type: string
          enum:
          - hour
          - day
          - HOUR
          - DAY
          - Hour
          - Day
        usage_line_items:
          type: array
          items:
            $ref: '#/components/schemas/HistoricalContractUsageInvoiceLineItemInput'
        billable_status:
          x-mint:
            groups:
            - client_id:5b9e3072-415b-4842-94f0-0b6700c8b6be
            - client_id:179e395f-5349-4fe2-bf12-64ab4e5bc560
            - client_id:f157d376-0781-4ef3-9db9-775a9052148e
            - client_id:7dd2f652-7629-4925-9069-77f5c5d3db37
            - client_id:c0ce3dc0-6d3e-4f6b-aadf-dfb90f2bf9f5
            - client_id:cf874b25-ca3b-460b-b6fe-5f33b3c2ea33
            - client_id:9c7e2b27-9b4c-4b76-9df7-f9cb05665a6a
            - client_id:8e3a848a-4566-4cfb-be49-64d80118a7fc
          $ref: '#/components/schemas/BillableStatus'
          description: This field's availability is dependent on your client's configuration.
        custom_fields:
          $ref: '#/components/schemas/CustomField'
    AmendContractPayload:
      type: object
      required:
      - customer_id
      - contract_id
      - starting_at
      properties:
        customer_id:
          type: string
          format: uuid
          description: ID of the customer whose contract is to be amended
        contract_id:
          type: string
          format: uuid
          description: ID of the contract to amend
        netsuite_sales_order_id:
          x-mint:
            groups:
            - client_id:e3147d6d-4101-4cd1-9888-ce3afeeac5b2
          type: string
          description: This field's availability is dependent on your client's configuration.
        salesforce_opportunity_id:
          x-mint:
[...]
